.DS_Store
build
playground
.vscode
dump
*.msh
*.msh.mfem
__pycache__
_mat_check/mfem_inside_mat.txt
_mat_check/mfem_mat.txt
_mat_check/scaleup_inside_mat_modia.txt
_mat_check/scaleup_inside_mat.txt
_mat_check/scaleup_mat.txt
examples/linelast/cmake_install.cmake
examples/linelast/CTestTestfile.cmake
examples/linelast/Makefile
examples/linelast/CMakeFiles/CMakeDirectoryInformation.cmake
examples/linelast/CMakeFiles/progress.marks
examples/poisson/cmake_install.cmake
examples/poisson/CTestTestfile.cmake
examples/poisson/Makefile
examples/poisson/CMakeFiles/CMakeDirectoryInformation.cmake
examples/poisson/CMakeFiles/progress.marks
include/temp_mfem_elatassembleblock.ipynb
include/temp_mfemdgdiffusion.ipynb
include/temp_mfemdgvectordiff_assemblblock.ipynb
include/temp_mfemintegrator.ipynb
include/temp_scaleup_assemblock.ipynb
include/temp_scaleupromdgdiffusion.ipynb
src/Things to keep.ipynb
src/to_implement.ipynb
test/Makefile
test/printMatrices.ipynb
zjupiter/build.ipynb
zjupiter/RunCantilever.ipynb
zjupiter/RunForceCantilever.ipynb
zjupiter/RunLattice.ipynb
zjupiter/tutorial.ipynb
utils/rectangle_mesh
utils/sol2paraview
test/gmsh/Makefile
test/gmsh/multi_comp_dd_mms
test/gmsh/stokes_multi_comp_dd_mms
test/gmsh/test_multi_comp_workflow
utils/1d_mesh
utils/cubic_mesh
utils/gmsh2mfem
utils/Makefile
test/gmsh/CTestTestfile.cmake
zjupiter/compare_componentwise/FOM.txt
zjupiter/compare_componentwise/FOMsolution.h5
zjupiter/compare_componentwise/ROM.txt
zjupiter/compare_componentwise/ROMsolution.h5
